footer {
    height: 10vh;
    border: 1px solid red;
    width: 100%;
}

.socials {
    height: 100%;
    width: 50%;
    background-color: var(--bold);
    clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}

.socials .social img {
    height: 30px;
    filter: invert(1);
}